body {
  background: #eee;
  font-family: arial;
}
.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top:30px;
}
input {
  border: 0;
  display: block;
  width: 98.4%;
  line-height: 1.5;
  padding: 8px 0 8px 10px;
  border-bottom: 1px solid #cfcbcc;
  outline:0;
}
h1,h2,h3 {
  text-align: center;
  margin-bottom: 0px;
  line-height: 1;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  li {
    margin:1;
    padding:1;
    color: #696969;
    border-bottom: 1px solid #cfcbcc;
    line-height: 1.5;
    padding: 8px;
  }
  li:before{
      content: "\25A1";
      padding: 10px 10px;
      font-size: 20px;
  }
  li:hover{
    text-decoration: line-through;
      cursor: pointer;
  }
.checked {
  color:green;
  }
.checked:before{
  content: "\2713";
  font-size: 25px;
}
.checked:after{
  content: " (Delete)";
        color: red;
        text-align: right
}
.checked:hover{
  text-decoration: none;
}
